/*documentation*/
.documentation{
    padding: 74px 0 140px 0;
}
.documentation__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.documentation-nav{
    position: relative;
    width: 100%;
    max-width: 265px;
    padding-top: 34px;
    background-color: #F6F7F9;
}
.documentation-nav:before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background-color: #F6F7F9;
    z-index: 1;
}
.documentation-search{
    position: relative;
    width: 100%;
    max-width: 216px;
}
.documentation-menu{
    margin-top: 26px;
}
.documentation-menu-item{
    padding: 12px 0;
}
.documentation-menu__title{
    position: relative;
    padding: 0 46px 0 26px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #1062AA;
    cursor: pointer;
}
.documentation-menu__icon{
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.documentation-submenu{
    display: none;
    margin-top: 20px;
    margin-bottom: 12px;
}
.documentation-submenu__link{
    display: block;
    padding: 0 46px 0 26px;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.documentation-submenu__link_active,
.documentation-submenu__link:hover{
    text-decoration: none;
    background-color: #E5E5E5;
}
.documentation-content{
    width: 100%;
    max-width: 845px;
}
.documentation h3:first-child{
    margin: 0;
}
.documentation table{
    border-bottom: 1px solid #1062AA;
}
.documentation td{
    border-top: 1px solid #1062AA;
    padding: 22px 16px;
}
/*PreCode styles start*/
.preCode{
    position: relative;
    margin: 40px 0 74px;
    padding: 12px 32px 12px 81px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #333333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}
.preCode:last-child{
    margin-bottom: 0;
}
.preCode-lines{
    position: absolute;
    top: 12px;
    left: 32px;
    width: 30px;
    border-right: 1px solid #F7B916;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.preCode-value{
    color: #00ADEE;
}
.preCode *::-moz-selection{
    background: #F7B916;
}
.preCode *::selection{
    background: #F7B916;
}
.preCode-copy{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 16px;
    background-color: #ffffff;
    color: #333333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
/*PreCode styles end*/
