.registration{
    position: relative;
}
.registration-lang{
    position: absolute;
    top: 90px;
    right: 118px;
    z-index: 9;
}
.registration-logo{
    display: block;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 55px;
    height: 28px;
    background: transparent url('../img/registration/logo-small.svg') center center no-repeat;
    background-size: cover;
    z-index: 2;
}
.registration-content{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.registration-info,
.registration-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.registration-info{
    width: 40%;
    background: transparent url('../img/registration/reg-bg.jpg') center center no-repeat;
    background-size: cover;
}
.registration-info-numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
}
.registration-info-numbers__item{
    width: 165px;
    margin-top: 65px;
    text-align: center;
}
.registration-info-numbers__value{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #F7B916;
}
.registration-info-numbers__text{
    font-size: 18px;
    line-height: 1em;
    color: #FFFFFF;
}
.registration-info-reviews{
    width: 100%;
    max-width: 322px;
    margin-top: 110px;
}
.registration-info-reviews__text,
.registration-info-reviews__author{
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
}
.registration-info-reviews__author{
    margin-top: 14px;
    font-weight: bold;
}
.registration-form{
    width: 60%;
    padding: 100px 0;
}
.registration-form__inner{
    width: 100%;
    max-width: 398px;
}
.registration-form__title{
    margin-bottom: 33px;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}
.registration-form__form{
    font-size: 11px;
}
.registration-form__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.registration-label{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}
.registration-label span{
    color: #1062AA;
}
.registration-form .inp{
    height: 40px;
    padding: 12px 21px;
    border: 1px solid #81859C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.registration-form .inp.error {
    border: 1px solid #EF5237;
}
::-webkit-input-placeholder {
    color: #81859C;
}
::-moz-placeholder {
    color: #81859C;
}
:-ms-input-placeholder {
    color: #81859C;
}
:-moz-placeholder {
    color: #81859C;
}
.registration-form__policy{
    margin-bottom: 15px;
}
.registration-form .checkbox-label{
    font-size: 11px;
}
.registration-form__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.registration-form__btn{
    text-transform: none;
}
.registration-form__btn:disabled, .registration-form__btn:disabled:hover {
    background-color: #81859C;
    color: #ffffff;
    cursor: not-allowed;
}
.registration-form__login{
    font-size: 18px;
    line-height: 32px;
}
/*Select Currency*/
.select{
    position: relative;
    width: 100%;
}
.select select{
    display: none;
}
.select-log-reg .select-selected{
    width: 100%;
    height: 40px;
    line-height: 38px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #81859C;
    color: #333333;
    background-color: #fff;
}
.select-log-reg .select-selected.select-arrow-active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.select-log-reg .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 17px;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    background: url("../img/general/select-arrow.svg") no-repeat 50% 50%;
    background-size: contain;
}
.select-log-reg .select-selected.select-arrow-active:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-log-reg .select-items div, .select-selected{
    display: flex;
    align-items: center;
    padding: 0 21px;
    cursor: pointer;
    user-select: none;
}
.select-selected{
    font-size: 14px;
    line-height: 16px;
}
.select-log-reg .select-items{
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}
.select-items::-webkit-scrollbar {
    width: 5px;
}
.select-items::-webkit-scrollbar-thumb {
    background-color: #81859C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.select-log-reg .select-items div{
    height: 40px;
    font-size: 16px;
    border-top: 1px solid rgba(129, 133, 156, 0.5);
    line-height: 39px;
    color: #333333;
}
.select-log-reg .select-items div.same-as-selected{
    background-color: rgba(129, 133, 156, 0.3);
    cursor: default;
}
.select-log-reg .select-items div span, .select-selected span{
    width: 50%;
    margin-left: auto;
}
.select-log-reg .select-items{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #81859C;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 999;
}
.select-log-reg .select-arrow-active + .select-items{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select-hide{
    display: none;
}
.select-log-reg .select-items div:not(.same-as-selected):hover{
    background-color: rgba(129, 133, 156, 0.3);
}
/*Step*/
.registration-step{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    text-align: center;
}
.registration-step__img{
    margin-bottom: 48px;
}
.registration-step__title{
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}
.registration-step__text{
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 24px;
}
.registration-step__text span{
    color: #1062AA;
}
.registration-step__warn{
    margin-bottom: 25px;
    font-size: 11px;
    line-height: 13px;
    color: #807E7E;
}
.registration-step__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
/*Login*/
.checkbox-label--forgot{
    display: flex;
    justify-content: space-between;
}
/*Forgot*/
.registration-form__title--forgot{
    margin-bottom: 30px;
}
.registration-form__btn--forgot{
    margin-top: 30px;
}
.forgot-switch{
    display: flex;
    margin-bottom: 25px;
}
.forgot-switch__item{
    position: relative;
    width: 68px;
    height: 27px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 27px;
    color: #333333;
}
.forgot-switch__item_active:after{
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 14px solid #F7B916;
    border-left: 14px solid transparent;
}
.forgot-switch__item_active,
.forgot-switch__item:hover{
    background-color: #F7B916;
    text-decoration: none;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .registration-info-numbers{
        max-width: 220px;
        margin: 0 auto;
    }
    .registration-info-numbers__item{
        width: 95px;
        margin-top: 40px;
    }
    .registration-info-numbers__value{
        margin-bottom: 5px;
        font-size: 22px;
    }
    .registration-info-numbers__text{
        font-size: 14px;
    }
    .registration-info-reviews{
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .registration-info-reviews__sign{
        margin-bottom: 10px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px){
    body{
        padding: 0;
    }
    .registration-lang{
        top: 0;
        right: 15px;
    }
    .registration-logo{
        position: static;
        margin: 40px auto 80px auto;
        background: transparent url('../img/registration/logo-small-dark.svg') center center no-repeat;
        background-size: cover;
    }
    .registration-content{
        flex-direction: column;
    }
    .registration-info{
        order: 2;
        width: 100%;
        padding: 40px 15px 80px 15px;
    }
    .registration-form{
        order: 1;
        width: 100%;
        margin-bottom: 80px;
        padding: 0 15px;
    }
    .registration-info-numbers{
        max-width: 100%;
        justify-content: center;
    }
    .registration-info-numbers__item{
        width: 135px;
        padding: 0 10px;
        margin-top: 40px;
    }
    .registration-info-numbers__text{
        font-size: 14px;
    }
    .registration-info-numbers__value{
        margin-bottom: 5px;
        font-size: 22px;
    }
    .registration-info-reviews{
        max-width: 100%;
        margin-top: 70px;
    }
    .registration-info-reviews__item{
        padding-left: 30px;
    }
    .registration-info-reviews__sign{
        margin-left: -30px;
        margin-bottom: -14px;
    }
}