/*top*/
.sp-top{
    padding: 75px 0 131px 0;
}
.sp-top__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.sp-top__content{
    width: 100%;
    max-width: 554px;
}
.sp-top__title{
    margin-bottom: 38px;
    font-size: 46px;
    line-height: 56px;
}
.sp-top__description{
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 28px;
}
.sp-top__btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*navigation*/
.sp-navigation{
    background-color: #F7B916;
}
.sp-navigation__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sp-navigation__list-item{
    margin: 0 70px;
}
.sp-navigation__link{
    position: relative;
    display: block;
    padding: 19px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.sp-navigation__link:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.sp-navigation__link_active,
.sp-navigation__link:hover{
    color: #1062AA;
    text-decoration: none;
}
.sp-navigation__link_active:after,
.sp-navigation__link:hover:after{
    width: 100%;
    background-color: #1062AA;
}
/*steps*/
.sp-steps{
    padding: 120px 0 140px 0;
}
.sp-steps__list{
    margin: 75px 0;
}
.sp-steps-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    padding-bottom: 100px;
}
.sp-steps-item:last-child{
    padding-bottom: 0;
}
.sp-steps-item__img,
.sp-steps-item__content{
    width: 100%;
    max-width: 390px;
}
.sp-steps-item__img{
    display: flex;
    justify-content: flex-end;
    order: 1;
}
.sp-steps-item__content{
    order: 3;
}
.sp-steps-item:nth-child(even) .sp-steps-item__img{
    order: 3;
    justify-content: flex-start;
}
.sp-steps-item:nth-child(even) .sp-steps-item__content{
    order: 1;
    text-align: right;
}
.sp-steps-item__number{
    order: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    background-color: #EF5237;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    z-index: 2;
}
.sp-steps-item:not(:last-child):after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 3px;
    margin-left: -1px;
    background-color: #F7B916;
    z-index: 1;
}
.sp-steps-item__title{
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.sp-steps-item__description{
    font-size: 16px;
    line-height: 26px;
}
.sp-steps__btns{
    display: flex;
    justify-content: center;
}
/*features*/
.sp-features__inner{
    padding: 72px 0 81px 0;
    background-color: #1062AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
}
.sp-features__title{
    margin-bottom: 76px;
    text-align: center;
}
.sp-features__list{
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
}
.sp-features-item{
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}
.sp-features-item__icon{
    height: 30px;
    margin-bottom: 30px;
}
.sp-features-item__title{
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.sp-features-item__description{
    font-size: 14px;
    line-height: 21px;
}
.sp-features .slider-arrow--next{
    right: -30px;
}
.sp-features .slider-arrow--prev{
    left: -30px;
}
/*promo*/
.sp-promo{
    padding: 128px 0 166px 0;
}
.sp-promo__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.sp-promo__img{
    max-width: 241px;
    max-height: 346px;
    margin-right: 149px;
}
.sp-promo__img img{
    max-height: 100%;
}
.sp-promo__title{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.sp-promo__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 42px;
}
.sp-promo__rating{
    display: flex;
}
.sp-promo__rating__value{
    margin-left: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #F7B916;
}
.sp-promo__reviews{
    display: flex;
    align-items: center;
}
.sp-promo__reviews-item{
    margin-left: 30px;
    font-size: 14px;
    line-height: 16px;
    color: #868585;
}
.sp-promo__price{
    margin-bottom: 49px;
}
.sp-promo__price-old{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #333333;
}
.sp-promo__price-new{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #1062AA;
}
.sp-promo__btns .btn{
    margin-bottom: 25px;
}
/*recommended*/
.sp-recommended{
    padding-top: 55px;
}
.sp-recommended__title{
    margin-bottom: 78px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.sp-recommended__slider{
    margin-left: -19px;
    margin-right: -19px;
}
.sp-recommended-item{
    width: 100%;
    max-width: 208px;
    margin: 0 auto;
    text-align: center;
}
.sp-recommended-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 208px;
    margin-bottom: 34px;
    border: 2px solid #F0F0F0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sp-recommended-item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.sp-recommended-item__prices{
    display: flex;
    justify-content: center;
    margin-top: 9px;
    font-size: 18px;
    line-height: 21px;
}
.sp-recommended-item__prices-new{
    font-weight: 700;
    color: #1062AA;
}
.sp-recommended-item__prices-old{
    margin-left: 18px;
    text-decoration-line: line-through;
    color: #81859C;
}
/*reviews*/
.sp-reviews{
    padding: 123px 0 92px 0;
}
/*cta*/
.sp-cta{
    padding: 140px 0;
    background-color: #F7B916;
}
.sp-cta__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sp-cta__img{
    max-width: 300px;
}
.sp-cta__content{
    width: 100%;
    max-width: 554px;
}
.sp-cta__title{
    margin-bottom: 28px;
    color: #1062AA;
}
.sp-cta__text{
    margin-bottom: 76px;
    font-size: 18px;
    line-height: 28px
}
.sp-cta__btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*--- Single Product Features Page ---*/
.sp-features-page{
    padding: 60px 0 132px 0;
}
/*--- Single Product Screenshots Page ---*/
.sp-screenshots{
    padding: 60px 0 64px 0;
}
/*--- Single Product History Page ---*/
.sp-history{
    padding: 140px 0 132px 0;
}
.sp-history__inner{
    padding-left: 65px;
}
.sp-history ul{
    margin-left: -20px;
}
.sp-history h4{
    position: relative;
}
.sp-history h4:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -65px;
    width: 21px;
    height: 28px;
    margin-top: -14px;
    background: transparent url('../img/single-product/single-product-histoty-header.svg') center center no-repeat;
    background-size: contain;
}
.sp-history * + h4{
    margin-top: 76px;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    /*navigation*/
    .sp-navigation__list-item{
        margin: 0 30px;
    }
    /*recommended*/
    .sp-recommended__slider{
        margin-left: 0;
        margin-right: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    /*top*/
    .sp-top__inner{
        justify-content: center;
        text-align: center;
    }
    .sp-top__img{
        margin-bottom: 30px;
    }
    /*steps*/
    .sp-steps-item{
        justify-content: space-between;
    }
    .sp-steps-item__number{
        order: 1;
        margin: 0;
    }
    .sp-steps-item__img,
    .sp-steps-item:nth-child(even) .sp-steps-item__img{
        order: 2;
    }
    .sp-steps-item__content,
    .sp-steps-item:nth-child(even) .sp-steps-item__content{
        order: 3;
        text-align: left;
    }
    .sp-steps-item__img,
    .sp-steps-item__content{
        max-width: 300px;
    }
    .sp-steps-item:not(:last-child):after{
        left: 38px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*top*/
    .sp-top{
        padding: 50px 0;
    }
    .sp-top__inner{
        justify-content: center;
    }
    .sp-top__img{
        margin-bottom: 30px;
    }
    .sp-top__title{
        text-align: center;
    }
    .sp-top__btns{
        justify-content: center;
    }
    .sp-top__btns .btn{
        margin-bottom: 30px;
    }
    /*navigation*/
    .sp-navigation__list-item{
        margin: 0 10px;
    }
    /*steps*/
    .sp-steps{
        padding: 50px 0;
    }
    .sp-steps__list{
        margin: 45px 0;
    }
    .sp-steps-item{
        flex-direction: column;
        padding-bottom: 45px;
    }
    .sp-steps-item:not(:last-child):after{
        display: none;
    }
    .sp-steps-item__number{
        order: 1;
    }
    .sp-steps-item__img,
    .sp-steps-item:nth-child(even) .sp-steps-item__img{
        order: 2;
        justify-content: center;
        max-width: 70%;
        margin: 25px auto;
    }
    .sp-steps-item:nth-child(even) .sp-steps-item__content{
        order: 3;
        text-align: left;
    }
    .sp-steps-item__title{
        margin-bottom: 25px;
    }
    /*features*/
    .sp-features__inner{
        padding: 50px 0;
    }
    .sp-features__title{
        margin-bottom: 30px;
    }
    /*promo*/
    .sp-promo{
        padding: 50px 0;
    }
    .sp-promo__img{
        max-width: 50%;
        margin: 0 auto 30px auto;
    }
    .sp-promo__info,
    .sp-promo__price{
        margin-bottom: 25px;
    }
    .sp-promo__price{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sp-promo__price-old{
        margin-bottom: 0;
    }
    .sp-promo__price-old,
    .sp-promo__price-new{
        margin-left: 15px;
        margin-right: 15px;
    }
    .sp-promo__btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*recommended*/
    .sp-recommended{
        padding-top: 25px;
    }
    .sp-recommended__title{
        margin-bottom: 30px;
        text-align: center;
    }
    .sp-recommended__slider{
        margin-left: 0;
        margin-right: 0;
    }
    /*reviews*/
    .sp-reviews{
        padding: 50px 0;
    }
    /*cta*/
    .sp-cta{
        padding: 50px 0;
    }
    .sp-cta__inner{
        justify-content: center;
        text-align: center;
    }
    .sp-cta__img{
        margin-bottom: 30px;
    }
    .sp-cta__text{
        margin-bottom: 45px;
    }
    .sp-cta__btns{
        justify-content: center;
    }
    .sp-cta__btns .btn-two{
        margin-top: 30px;
    }
    /*--- Single Product Features Page ---*/
    .sp-features-page{
        padding: 0 0 50px 0;
    }
    /*--- Single Product Screenshots Page ---*/
    .sp-screenshots{
        padding: 0 0 50px 0;
    }
    /*--- Single Product History Page ---*/
    .sp-history{
        padding: 50px 0;
    }
    .sp-history__inner{
        padding-left: 20px;
    }
    .sp-history h4:before{
        left: -20px;
        width: 10px;
        height: 14px;
        margin-top: -7px;
    }
    .sp-history * + h4{
        margin-top: 38px;
    }
}