ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li,
ol li{
    position: relative;
}
button, input, textarea, a, div{
    outline: none;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"]{
    display: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h1{
    font-size: 64px;
    line-height: 78px;
}
h2{
    font-size: 36px;
    line-height: 44px;
}
h3{
    font-size: 30px;
    line-height: 37px;
}
h4{
    font-size: 24px;
    line-height: 29px;
}
h6{
    font-size: 18px;
    line-height: 21px;
}
button, input, textarea, select{
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}
img, svg{
    display: block;
    max-width: 100%;
}
a,
a svg,
a svg *,
button,
button svg,
button svg *{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a{
    color: #1062AA;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.inp{
    width: 100%;
    height: 50px;
    padding: 0 36px;
    border: 2px solid #1062AA;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}
.inp:focus::-webkit-input-placeholder{
    color: transparent !important;
}
.inp:focus::-moz-placeholder{
    color: transparent !important;
}
.inp:focus:-ms-input-placeholder{
    color: transparent !important;
}
.inp:focus:-moz-placeholder{
    color: transparent !important;
}
.checkbox-label{
    position: relative;
    display: block;
    padding-left: 37px;
    font-size: 12px;
    line-height: 14px;
}
.checkbox-label:after,
.checkbox-label:before{
    content: "";
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.checkbox-label:after{top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #1062AA;
}
.checkbox-label:before{
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}
input[type="checkbox"]:checked + .checkbox-label:before{
    background-color: #F7B916;
}
.btn,
.btn-p,
.btn-two,
.btn-white,
.btn-black{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    height: 50px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none !important;
    cursor: pointer;
}
.btn{
    background-color: #1062AA;
    color: #FFFFFF;
}
.btn:hover{
    background-color: #F7B916;
    color: #1062AA;
}
.btn-p{
    color: #1062AA;
    border: 2px solid #1062AA;
    background-color: transparent;
}
.btn-p:hover{
    color: #ffffff;
    border: 2px solid #1062AA;
    background-color: #1062AA;
}
.btn-two{
    background-color: #1062AA;
    color: #FFFFFF;
}
.btn-two:hover{
    background-color: #FFFFFF;
    color: #1062AA;
}
.btn-white{
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}
.btn-white:hover{
    border: 2px solid #333333;
    background-color: #333333;
}
.btn-black{
    border: 2px solid #333333;
    color: #333333;
}
.btn-black:hover{
    background-color: #333333;
    color: #FFFFFF;
}
.btn-maroon:hover{
    background-color: #FF6341;
    border: 2px solid #FF6341;
}
.btn-cornfieldblue:hover{
    background-color: #00ADEE;
    border: 2px solid #00ADEE;
}
.btn-lime:hover{
    background-color: #DDF516;
    border: 2px solid #DDF516;
}
.btn-darkviolet:hover{
    background-color: #010059;
    color: #ffffff;
    border: 2px solid #010059;
}
.btn-yellow:hover{
    background-color: #FFE735;
    border: 2px solid #FFE735;
}
.btn-blue:hover{
    background-color: #4AE4E4;
    border: 2px solid #4AE4E4;
}
.btn-greencyan:hover{
    background-color: #6FC6AD;
    border: 2px solid #6FC6AD;
}
.btn-pink:hover{
    background-color: #EB008B;
    color: #ffffff;
    border: 2px solid #EB008B;
}
.btn-salad:hover{
    background-color: #8CC63F;
    border: 2px solid #8CC63F;
}
.btn-orange:hover{
    background-color: #F7B916;
    border: 2px solid #F7B916;
}
/*modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(51,51,51,0.5);
    z-index: 99;
}
.modal__window{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #1062AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal__close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 33px;
    height: 33px;
    background: transparent url('../img/general/modal-close.svg') center center no-repeat;
    cursor: pointer;
}
/*typography*/
.typography{
    font-size: 18px;
    line-height: 28px;
}
.typography h2,
.typography h3{
    margin: 65px 0;
}
.typography * + h4{
    margin-top: 65px;
}
.typography img{
    margin: 76px auto;
}
.typography ul:not(.slick-dots) > li{
    padding-left: 20px;
}
.typography ul:not(.slick-dots) > li:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
}
.typography ol:not(.slick-dots){
    counter-reset: my-counter;
}
.typography ol:not(.slick-dots) > li{
    counter-increment: my-counter;
}
.typography ol:not(.slick-dots) > li:before {
    content: counter(my-counter) ". ";
    color: #1062AA;
}


@media all and (min-width: 320px) and (max-width: 767px){
    /*typography*/
    .typography h2,
    .typography h3{
        margin: 32px 0;
    }
    .typography * + h4{
        margin-top: 28px;
    }
    .typography img{
        margin: 38px auto;
    }
}